{% extends 'logged_base.html' %}
{% load static %}
{% load humanize %}
{% block title %}고객 대시보드{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/logged_base.css' %}" />
<link rel="stylesheet" href="{% static 'css/dashboard/home.css' %}" />
{% endblock %}
{% block main_content %}
<div class="row gap-3">
	<p class="fw-bold fs-2">고객 대시보드</p>
	<div class="card p-3 rounded shadow border-info border-2 w-100" style="background-color: #fff;">
		<p class="fw-bold fs-4">
			회원 현황
		</p>
		<!-- 상품 현황 부분 추가 필요. -->
		<hr class="mt-3 mb-3" />
		<div class="row gap-2">
			<div class="col p-3 card shadow">
				<p>신규 회원</p>
				<p><a href="{% url 'dashboard_product_list' %}" class="me-1 fw-bold fs-5 text-decoration-underline">{{ new_consumers|intcomma }}</a>개</p>
			</div>
			<div class="col card p-3 shadow">
				<p>미인증 회원</p>
				<p><a href="{% url 'dashboard_product_inventory' %}" class="me-1 fw-bold fs-5 text-warning text-decoration-underline">{{ not_verified_consumers|intcomma }}</a>개</p>
			</div>
			<div class="col card p-3 shadow">
				<p>전체 회원</p>
				<p><a href="{% url 'dashboard_product_outofstock' %}" class="me-1 fw-bold fs-5 text-danger text-decoration-underline">{{ all_consumers|intcomma }}</a>개</p>
			</div>
		</div>
	</div>
	<div class="custom-grid mt-4 gap-3">
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">카페24 고객 가져오기</h5>
				<p class="card-text keep-all mt-2">현재 시점까지의 모든 카페24 고객의 정보가 담긴 엑셀 파일을 불러옵니다.</p>
				<input type="file" class="form-control p-2 mt-3" id="import-cafe24-file" accept=".csv" />
				<button class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3" id="import-cafe24-btn" >불러오기</a>
			</div>
		</div>
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">고객 목록</h5>
				<p class="card-text keep-all mt-2">등록된 상품의 정보 조회, 수정, 삭제 및 재고 관리 등 다양한 작업을 할 수 있는 메뉴입니다.</p>
				<a href="{% url 'dashboard_product_list' %}" class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3">바로가기</a>
			</div>
		</div>
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">미인증 회원 관리</h5>
				<p class="card-text keep-all mt-2">미인증 회원 정보를 조회하고, 인증 유도 메시지를 보내는 등 다양한 작업을 할 수 있는 메뉴입니다.</p>
				<a href="{% url 'dashboard_product_add' %}" class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3">바로가기</a>
			</div>
		</div>
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">상품 카테고리</h5>
				<p class="card-text keep-all mt-2">상품을 분류하여 관리할 수 있도록 카테고리를 생성하고 편집하는 기능을 제공합니다.</p>
				<a href="{% url 'dashboard_product_category' %}" class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3">바로가기</a>
			</div>
		</div>
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">상품 진열</h5>
				<p class="card-text keep-all mt-2">상품의 노출 순서와 진열 방식을 설정하여, 사이트에서 상품이 효과적으로 표시되도록 관리할 수 있는 기능을 제공합니다.</p>
				<a href="{% url 'dashboard_product_display' %}" class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3">바로가기</a>
			</div>
		</div>
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">상품 재고</h5>
				<p class="card-text keep-all mt-2">각 상품의 재고 수량을 실시간으로 확인하고, 입고 및 출고 내역을 관리할 수 있는 기능을 제공합니다.</p>
				<a href="{% url 'dashboard_product_inventory' %}" class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3">바로가기</a>
			</div>
		</div>
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">품절 상품</h5>
				<p class="card-text keep-all mt-2">품절된 상품을 확인하고, 재입고 상태를 업데이트하거나 판매 중지 상태를 설정할 수 있는 기능을 제공합니다.</p>
				<a href="{% url 'dashboard_product_outofstock' %}" class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3">바로가기</a>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$("#import-cafe24-btn").click(function() {
			consumerFile = $("#import-cafe24-file")[0].files[0];

			if (!consumerFile) {
				alert("파일을 등록해주세요!");
				return false;
			}

			var formData = new FormData();
			formData.append("consumer", consumerFile);

			alert("고객을 불러옵니다.")
			$.ajax({
				url: '{% url "dashboard_consumer_home" %}',
				type: 'POST',
				data: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
				processData: false,
				contentType: false,
				success: function(response) {
					alert("카페24 고객 불러오기에 성공했습니다!");
					window.location.reload();
				},
				error: function(xhr, status, error) {
					alert("카페24 고객 불러오기에 실패했습니다!");
				}
			});
		});
	});
</script>
{% endblock %}