*{
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
	font-family: 'SUITE', sans-serif;
}

html {
	font-size: 14px !important;
}

body {
	width: 100%
}

.content {
	width: 100vw !important;
	min-height: 100vh !important;
}

.toastify {
	padding: 16px 24px !important;
	border-radius: 8px !important;
	font-size: 14px !important;
}