{% extends 'logged_base.html' %}
{% load static %}
{% load humanize %}
{% block title %}주문 대시보드{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/logged_base.css' %}" />
<link rel="stylesheet" href="{% static 'css/dashboard/home.css' %}" />
{% endblock %}
{% block main_content %}
<div class="row gap-3">
	<p class="fw-bold fs-2">주문 대시보드</p>
	<div class="card p-3 rounded shadow border-info border-2 w-100" style="background-color: #fff;">
		<p class="fw-bold fs-4">
			현재 주문 현황
		</p>
		<!-- 상품 현황 부분 추가 필요. -->
		<hr class="mt-3 mb-3" />
		<div class="row gap-2">
			<div class="col p-3 card shadow">
				<p>입금대기</p>
				<p><a href="{% url 'dashboard_product_list' %}" class="me-1 fw-bold fs-5 text-decoration-underline text-success">{{ deposit_waiting|intcomma }}</a>개</p>
			</div>
			<div class="col card p-3 shadow">
				<p>발주대기</p>
				<p><a href="{% url 'dashboard_product_inventory' %}" class="me-1 fw-bold fs-5 text-primary text-decoration-underline">{{ order_waiting|intcomma }}</a>개</p>
			</div>
			<div class="col card p-3 shadow">
				<p>발송대기</p>
				<p><a href="{% url 'dashboard_product_outofstock' %}" class="me-1 fw-bold fs-5 text-primary text-decoration-underline">{{ package_waiting|intcomma }}</a>개</p>
			</div>
			<div class="col card p-3 shadow">
				<p>취소요청</p>
				<p><a href="{% url 'dashboard_product_outofstock' %}" class="me-1 fw-bold fs-5 text-danger text-decoration-underline">{{ cancel_request|intcomma }}</a>개</p>
			</div>
			<div class="col card p-3 shadow">
				<p>환불요청</p>
				<p><a href="{% url 'dashboard_product_outofstock' %}" class="me-1 fw-bold fs-5 text-danger text-decoration-underline">{{ refund_request|intcomma }}</a>개</p>
			</div>
			<div class="col card p-3 shadow">
				<p>교환요청</p>
				<p><a href="{% url 'dashboard_product_outofstock' %}" class="me-1 fw-bold fs-5 text-danger text-decoration-underline">{{ exchange_request|intcomma }}</a>개</p>
			</div>
		</div>
	</div>
	<div class="custom-grid mt-4 gap-3">
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">카페24 주문 불러오기</h5>
				<p class="card-text keep-all mt-2">카페24 주문 정보가 담긴 엑셀 파일을 불러옵니다.</p>
				<input type="file" class="form-control p-2 mt-3" id="import-cafe24-file" accept=".csv" />
				<button class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3" id="import-cafe24-btn" >불러오기</a>
			</div>
		</div>
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">쿠팡 주문 불러오기</h5>
				<p class="card-text keep-all mt-2">쿠팡 주문 정보가 담긴 엑셀 파일을 불러옵니다.</p>
				<input type="file" class="form-control p-2 mt-3" id="import-coupang-file" accept=".csv" />
				<button class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3" id="import-coupang-btn" >불러오기</a>
			</div>
		</div>
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">ESM+ 주문 불러오기</h5>
				<p class="card-text keep-all mt-2">ESM+ 주문 정보가 담긴 엑셀 파일을 불러옵니다.</p>
				<input type="file" class="form-control p-2 mt-3" id="import-esm-file" accept=".csv" />
				<button class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3" id="import-esm-btn" >불러오기</a>
			</div>
		</div>
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">11번가 주문 불러오기</h5>
				<p class="card-text keep-all mt-2">11번가 주문 정보가 담긴 엑셀 파일을 불러옵니다.</p>
				<input type="file" class="form-control p-2 mt-3" id="import-11st-file" accept=".csv" />
				<button class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3" id="import-11st-btn" >불러오기</a>
			</div>
		</div>
		<div class="card p-3">
			<div class="card-body">
				<h5 class="card-title">인터파크 주문 불러오기</h5>
				<p class="card-text keep-all mt-2">인터파크 주문 정보가 담긴 엑셀 파일을 불러옵니다.</p>
				<input type="file" class="form-control p-2 mt-3" id="import-interpark-file" accept=".csv" />
				<button class="btn btn-primary ps-3 pe-3 pt-1 pb-1 mt-3" id="import-interpark-btn" >불러오기</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}