.content {
	display: flex;
}

.main-area {
	flex: 1;
}

.sidebar {
	
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-content {
	
}

@media (max-width: 768px) {
	.sidebar p {
		display: none !important;
	}

	.sidebar .btn {
        justify-content: center; /* 버튼 중앙 정렬 */
    }

    .sidebar .btn i {
        font-size: 2rem; /* 아이콘 크기 조정 */
    }
}